.header {
  height: 140px;
  width: 100px;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header_logo {
  background: url("FirstImg.png") no-repeat;
  width: 250px;
  height: 150px;
  display: block;
  background-size: contain;
  list-style-type: none;
}

.header_logo_class {
  display: block;
}

.header_logo_class_ul {
  display: flex;
  background-color: #d6d6d6;
  width: 1200px;
  color: #5f6062;
  height: 41px;
  padding: 0;
  align-self: center;
  list-style-type: none;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.header_logo_class_ul_li {
  align-self: center;
  display: flex;
  margin-left: 40px;
}

.header_logo_class_ul_li_anhr {
  text-decoration: none;
  margin-left: 10px;
  color: #000000;
  font-size: 14px;
}

.header_logo_class_ul_li_anhr_buisness {
  background-color: #353535;
  color: #fff;
  text-decoration: none;
  height: 100%;
  width: 100%;
  padding-top: 10px;
  padding-right: 11px;
  padding-left: 11px;
  padding-bottom: 12px;
}

.header_logo_class_ul_li_anhr_span {
  color: red;
  margin-left: -30px;
}

.header_logo_class_ul_li_anhr_span_scnd {
  border: 1px solid #d9272d;
  background-color: #d9272d;
  color: #fff;
  margin-left: -30px;
  padding: 5px 5px 5px 5px;
}

.header_logo_class_ul_li_anhr_span_thrd {
  margin-left: -30px;
}

.header_logo_class_ul_li_ul {
  display: flex;
  background-color: #fff;
  width: 1100px;
  height: 90px;
  padding: 0;
  margin-left: 70px;
  color: #000000;
  align-self: center;
  list-style-type: none;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

.header_logo_class_ul_li_ul_li {
  list-style-type: none;
  display: flex;
  align-self: center;
  margin-left: 70px;
  font-weight: 400;
}

.header_logo_class_ul_li_ul_li_span {
  border: 1px solid #d9272d;
  background-color: #d9272d;
  color: #fff;
  padding: 7px 30px 7px 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.footer {
  position: relative;
  height: 600px;
  overflow: hidden;
  top: 100px;
}

.footer_div {
  position: relative;
  bottom: 95px;
}

.footer_div_span {
  width: 100%;
  height: 55px;
  border-top: 1px solid #e0e0e0;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  font-size: 25px;
  border: 10px;
  background-color: #d9272d;
  padding: 10px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  top: 213px;
  padding-top: 25px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.footer_div_span_class {
  background-color: #585858;
  height: 100px;
  top: 215px;
  position: relative;
  padding: 150px;
  display: flex;
  font-size: 14px;
  overflow: hidden;
  margin: 0;
}

.footer_div_span_class_logo {
  list-style-type: none;
  position: relative;
  bottom: 120px;
  left: 50px;
}

.footer_div_span_class_logo_anhr {
  background: url("logofooter.png") no-repeat;
  width: 200px;
  height: 100px;
  display: block;
  background-size: contain;
  list-style-type: none;
  right: 30px;
  top: 600px;
}

.footer_div_span_class_ul {
  list-style-type: none;
  position: relative;
  right: 170px;
  font-family: 'Open Sans', sans-serif;
}

.footer_div_span_class_ul_li {
  margin: 3px 0;
  color: #a2a2a2;
  font-family: 'Open Sans', sans-serif;
}

.footer_div_span_class_ul_li_ul {
  list-style-type: none;
  position: relative;
  bottom: 31px;
  left: 430px;
  font-weight: 100;
  color: #a2a2a2;
  font-size: 14px;
}

.footer_div_span_class_ul_li_ul_li {
  margin: 5px 0;
  color: #a2a2a2;
  font-family: 'Open Sans', sans-serif;
}

.footer_div_span_class_ul_li_ul_li_ul {
  list-style-type: none;
  position: relative;
  bottom: 130px;
  left: 655px;
  font-weight: 100;
  color: #a2a2a2;
  font-size: 14px;
}

.footer_div_span_class_ul_li_ul_li_ul_li {
  margin: 5px 0;
  color: #a2a2a2;
  font-family: 'Open Sans', sans-serif;
}

.footer_div_span_class_ul_li_ul_li_ul_li_ul {
  list-style-type: none;
  position: relative;
  bottom: 265px;
  left: 860px;
  font-weight: 100;
  color: #a2a2a2;
  font-size: 14px;
}

.footer_div_span_class_ul_li_ul_li_ul_li_ul_li {
  margin: 5px 0;
  color: #a2a2a2;
  font-family: 'Open Sans', sans-serif;
}

.footer_div_span_class_ul_li_ul_li_ul_li_ul_li_ul {
  list-style-type: none;
  position: relative;
  bottom: 380px;
  left: 1075px;
  font-weight: 100;
  color: #a2a2a2;
  font-size: 14px;
}

.footer_div_span_class_ul_li_ul_li_ul_li_ul_li_ul_li {
  margin: 5px 0;
  color: #a2a2a2;
  font-family: 'Open Sans', sans-serif;
}

.footer_div_span_class_span {
  color: #a2a2a2;
  position: relative;
  left: 280px;
  top: -350px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.footer_div_span_class_span_corneer_logo {
  background: url("insta.png") no-repeat;
  display: block;
  background-size: 100% 100%;
  height: 40px;
  width: 40px;
  position: relative;
  left: 1280px;
  bottom: 400px;
}

.footer_div_span_class_span_corneer_logo_scnd {
  background: url("twitter.png") no-repeat;
  display: block;
  background-size: 100% 100%;
  height: 40px;
  width: 40px;
  position: relative;
  left: 1320px;
  bottom: 440px;
}

.footer_div_span_class_span_corneer_logo_thrd {
  background: url("fb.png") no-repeat;
  display: block;
  background-size: 100% 100%;
  height: 40px;
  width: 40px;
  position: relative;
  left: 1360px;
  bottom: 482px;
}

.footer_div_span_class_passive {
  color: #fff;
  text-decoration: none;
}

body, html {
  margin: 0;
  padding: 0;
}

input {
  width: 120px;
}

/*# sourceMappingURL=styleme.css.map */
